<div id="contact" class="contact">
    <h2 class="header">
        Keep In Touch
    </h2>

    <form class="form" action="https://formsubmit.co/58d27d283d5e9b575521171175ea975f" method="POST">
        <input type="hidden" name="_subject" value="Someone wants to keep in touch!">
        <input type="hidden" name="_next" value="https://albertglebocki.lol/success">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_template" value="box">
        <input type="text" name="_honey" style="display:none">
        <input type="text" name="name" placeholder="Name" id="name" required>
        <input type="email" name="email" placeholder="E-Mail" id="email" required>
        <textarea name="message" placeholder="Message" spellcheck="false" id="message" required/>
        <span class="wrapper">
            <button type="submit" onclick="sendMessage()" id="submitButton">Send</button>
            <span class="loader"></span>
        </span>
    </form>
</div>

<style>
    .contact {
        display: grid;
        place-items: center;
        margin: 7.5rem 0;
        padding-bottom: 5rem;
    }
    .header {
        font-size: 3rem;
        font-weight: 600;
        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-thickness: 2.5px;
    }
    .form {
        display: grid;
        place-items: center;
        gap: 1rem;
    }
    .form > input, .form > textarea {
        width: 684px;
        height: 76px;
        padding: 0 1rem;
        border: none;
        border-radius: 25px;
        background-color: var(--light);
        color: var(--dark);
        text-align: center;
        font-size: 1.45rem;
        font-family: 'El Messiri', sans-serif;
        transition: .75s;
    }
    .form > input:focus-within, .form > textarea:focus-within {
        transform: scale(1.025);
    }
    .form > textarea {
        height: 128px;
        padding: 2rem 1rem;
        resize: none;
        font-family: 'El Messiri', sans-serif;
    }
    .form > .wrapper > button {
        width: 716px;
        height: 82px;
        border: 2px solid var(--light);
        border-radius: 15px;
        background-color: var(--dark);
        color: var(--light);
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        cursor: pointer;
        transition: .75s;
    }
    .form > .wrapper > button:hover {
        transform: scale(1.05);
    }
    .wrapper {
        display: grid;
        place-items: center;
    }
    .sent {
        background-color: var(--light);
        opacity: 0;
    }
    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        border-top: 3px solid var(--light);
        border-right: 3px solid transparent;
        box-sizing: border-box;
        transform: translateX(-82px);
        animation: rotation 1s linear infinite;
        z-index: -1;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    } 

    @media screen and (max-width: 1000px) {
        .contact {
            width: calc(100% - 5rem);
            padding: 0 2.5rem;
            padding-bottom: 3.5rem;
        }
        .header {
            font-size: 2.25rem;
        }
        .form > input, .form > textarea, .form > .wrapper > button {
            font-size: 1.225rem;
            width: 19rem;
            height: 4rem;
            padding: 0;
        }
        .form > textarea {
            padding: 1.75rem 0;
        }
    }
</style>

<script lang="ts">
    function sendMessage() {
        const name = document.getElementById("name");
        const email = document.getElementById("email");
        const message = document.getElementById("message");

        if (name.validity.valid && email.validity.valid && message.validity.valid) {
            document.getElementById("submitButton").classList.add("sent");
        }
    }
</script>